<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Discounts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Discount groups <span class="pull-right"># of items needed:</span>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of discountGroups">
      <ion-item>
        {{ item.name }}
        <button ion-button item-right [ngStyle]="{ 'background-color': item.color }" (click)="buttonClick()">{{ item.count }}</button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Discounted items
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of discountItems">
      <ion-item>
        {{ item.name }}
        <button ion-button outline item-right color="danger" (click)="buttonClick()">-{{ item.discount }}%</button>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="add(item)">Add</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>