<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Shopping list</ion-list-header>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-label>{{ item.name }}</ion-label>
        <ion-checkbox>{{ item.name }}</ion-checkbox>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="add()">Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-list>
    <ion-list-header>Suggested items</ion-list-header>
    <ion-item-sliding *ngFor="let item of suggestedItems">
      <ion-item>
        #{{ item.id }}. {{ item.name }}
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="add()">Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-footer>