<ion-header>
  <ion-navbar>
    <ion-title>Shop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      My shopping list <span class="pull-right">{{ myItemsLength() }} {{ plural('item',myItemsLength()) }}</span>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of myItems">
      <ion-item>
        #{{ item.id }}. {{ item.name }} <span class="pull-right">{{item.price}}€</span>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button (click)="remove(item)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Suggested items
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of suggestedItems">
      <ion-item>
        #{{ item.id }}. {{ item.name }} <span class="pull-right">{{item.price}}€</span>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="add(item)">Add</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="pull-right"> <ion-icon name="cart"></ion-icon> Total cart: {{ totalCartPrice() }} € </ion-title>
  </ion-toolbar>
</ion-footer>
