// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background-color: #d6e4ff;
}

.profile {
    text-align: center;
}

.list-ios {
    margin: -1px 0 10px 0;
}

.profile-img {
    border: 1px solid #a1c1ff;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 0 auto;
    margin-top: 20px;
}

ion-list-header {
    background: #eaf4ff !important;
}
// #ffef95

.pull-right {
  float: right;
}